<div class="card mb-3"  style="max-width: 540px; margin: 0 auto; border-color: #ffe600; background-color: rgb(41,15,131);">
    <div class="row g-0" style="background-color: rgb(41,15,131);border-color: #ffe600;color: #ffe600; border-radius: 10%; ">
      <div class="col-md-4" id="semImg">
        <% if (usuario.imagem != '') { %>
                  <img src="<%- usuario.imagem %>" class="card-img-top" alt="<%- usuario.nome %>">
              <% } else { %>
                  <i class="bi-person-circle" style="font-size: 6rem; color: #ffe600;"></i>	
              <% } %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%- usuario.nome %></h5>        
        </div>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item" style="background-color: rgb(41,15,131);color: #ffe600;"><%- usuario.email %></li>
                  
              </ul>
              <div class="card-body">
                  <a href="/usuario/editar/<%- usuario.id_usuario %>" style="color: #ffe600;">
                      <i class="bi-vector-pen" style="font-size: 1.5rem;"></i> Editar
                  </a>
              </div>
      </div>
    </div>
  </div>
  <div class="card" style="max-width: 540px; margin: auto;">
      <a class="btn btn-primary" href="/" role="button" style="background-color: #09031d;border-color: #ffe600; color: #ffe600;">Voltar</a>
  </div>